# Appwrite (for file storage only)
VITE_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
# don't forget to add the city before .cloud.appwrite.io, e.g. sfo.cloud.appwrite.io
VITE_APPWRITE_PROJECT_ID=add_your_project_id_here
VITE_APPWRITE_BUCKET_ID=add_your_bucket_id_here
VITE_RESUME_FILE_ID=add_your_resume_file_id_here
# You can get these values from your Appwrite console